.box-coment{
    margin: 50px;
    border: 1px solid rgb(196, 194, 194);
    padding: 10px;
}
.box-text{
    margin: 10px;
}
.Marg{
    margin-left: 10px;
}

footer{
   margin-top: 10px;
  
}
.blank{
    padding: 40px;
}
.Panel{
    margin: 10px;
    position: fixed;
    padding: 10px;

    border: 1px solid gray;
}